.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  font-size: 1.5rem;
  height: 3rem;
  width: 20%;
}
.heading {
  font-size: 3rem;
  font-weight: bolder;
  padding: 3rem;
  background-color: blueviolet;
  margin-bottom: 2rem;
}
.desc {
  background-color: brown;
  border: 1px solid brown;
  border-radius: 0.5rem;
  font-family: "rubik";
  font-weight: bolder;
  margin-left: 10rem;
  margin-right: 10rem;
}
@media screen and (max-width:600px){
  .desc{
    margin:0rem
  }
}
